/* font-family-site */
@font-face {
  font-family: "vazir";
  src: url(font/Vazir.eot) format("eot"), url(font/Vazir.ttf) format("truetype"),
    url(font/Vazir.woff) format("woff"), url(font/Vazir.woff2) format("woff2");
}
* {
  font-family: "vazir";
}
/*==========end-font=========*/
html,
body {
  background: rgba(19, 18, 18, 0.842);
}
/* ============================ */
.b-radius {
  border-radius: 15px;
}
.nav-item a.nav-link:hover {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 2px;
}
.b-radius-1 {
  border-radius: 30px 5px 15px 30px;
}
.b-radius-2 {
  border-radius: 50px;
}
.caption-b-b-img {
  background-color: rgba(0, 0, 0, 0.541);
  position: absolute;
  top: 35%;
}
#animation-img:hover{
  animation: animation-img 2s alternate;
}
@keyframes animation-img {
  20%{
    transform: scale(.90);
  }
  70%{
    transform: scale(1);
  }
}
.carousel-caption-1{
  position: absolute;
  right: 25%;
  top: 44%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 50%;
  background-color: rgb(13 13 13 / 92%);
  border-radius: 20px;
  color: white;
}
.progress-label{
  width: 25%;
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
}
.caption-h2{
  width: 40%;
  background-color: white;
  border-radius: 10px;
  padding: 4px;
  font-size: 30px;
  text-align: center;
  margin-right: 30%;
}
.caption-2{
  background-color: white;
  border-radius: 10px;
  padding: 4px;
  font-size: 30px;
  text-align: center;
}

.m-right-35{
  margin-right: 35%;
}
.b-radius{
  border-radius: 10px;
}
.carousel-indicators-1{
    width: 40px;
    height: 10px;
    padding: 1px 0;
    margin: 0;
    opacity: .6;
    -webkit-transition: opacity .2s ease-in-out,width .2s ease-in-out;
    transition: opacity .2s ease-in-out,width .2s ease-in-out;
}
.filter{
  filter: grayscale(2);
}
.img-background{
  height: 300px;
  background-image: url(img/8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.animation-blur{
  filter: blur(2px);
}
.animation-blur:nth-child(1):hover{
  filter: blur(0px);
}
.animation-blur:nth-child(2):hover{
  filter: blur(0px);
}
.animation-blur:nth-child(3):hover{
  filter: blur(0px);
}
.animation-blur:nth-child(4):hover{
  filter: blur(0px);
}
.animation-blur:nth-child(5):hover{
  filter: blur(0px);
}
.my-caption:hover h2{
  background: darkgray;
  border-radius: 10px;
  display: inline;
}
.border-white{
  border: 2px solid white;
  border-radius: 10px;
}
.font-size-larg{
  font-size: 45px;
}
.img-anim:hover{
  transform: scale(.90);
  transition: .5s;
  background: azure;
  padding: 3px;
  border-radius: 5px;
}
#animation-footer:hover{
  background: rgba(255, 255, 255, 0.233);
  padding: 3px;
  border-radius: 15px;
  transition: all ease .6s;
}
